<form #loginForm="ngForm" (ngSubmit)="onSubmitClicked(loginForm.form)">
    <table>
        <tr>
            <td>UserName:</td>
            <td>
                <input type="text" name="userNameEditBox" [(ngModel)]="userName" #userNameTextBox="ngModel" required>
            </td>
            <td>
                <div *ngIf="userNameTextBox.errors && (userNameTextBox.dirty || userNameTextBox.touched)">
                    <p *ngIf="userNameTextBox.errors['required']">UserName is required</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="text" name="passwordEditBox" [(ngModel)]="password" #passwordTextBox="ngModel" required >
            </td>
            <td>
                <div *ngIf="passwordTextBox.errors && (passwordTextBox.dirty || passwordTextBox.touched)">
                    <p *ngIf="passwordTextBox.errors['required']">Password is required</p>                 
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type ="submit" value="Submit" formnovalidate/>
            </td>
            <td>
                <input type="button" value="Clear" (click)="onClear(loginForm.form)"/>
            </td>
        </tr>
    </table>

</form>
